<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" verbose="1" name="TechBrowserNeoStorageIntegration-suite"
	annotations="JDK" parallel="methods">

  <!--view names that return from LinkController methods-->
  <parameter name="getLink" value="links"/>

  <test name="domainIntegrationTest">
  	<parameter name="technology.name" value="spring framework" />
  	<parameter name="tag.java" value="java" /> 
  
    <packages>
      <package name="org.tb.storage.neo.domain"/>
    </packages>
  </test>
  
</suite>